<div class="base">
  <div class="bg-gradient">

    <div class="main">
      <div class="stripe"></div>

      <div class="left-column">

          <div class="top-text">
                <span class="title" id="projects">Projects</span>
            </div>

            <%= render partial: "project", locals: {project: "kaleidosine", path: kaleidosine_path} %>
            <%= render partial: "project", locals: {project: "dots", path: dots_path} %>
            <%= render partial: "project", locals: {project: "saturate", path: saturate_path} %>
            <%= render partial: "song", locals: {song: "activate", path: "https://soundcloud.com/ender/activate"} %>
            <%= render partial: "song", locals: {song: "roadtrip", path: "https://soundcloud.com/ender/roadtrip"} %>
            <%= render partial: "song", locals: {song: "classically", path: "https://soundcloud.com/ender/classically"} %>
            <%= render partial: "song", locals: {song: "night visions", path: "https://soundcloud.com/ender/night-visions-1"} %>
            <%= render partial: "song", locals: {song: "indefinitely", path: "https://soundcloud.com/ender/untitled-and-unfinished"} %>
            <%= render partial: "song", locals: {song: "misplaced mod", path: "https://soundcloud.com/ender/misplaced-mod-oct-10"} %>

        </div>
        <div class="right-column">
          <span class="title right " id="andrewlngdn">andrewlngdn</span>
          <a class="link right" href="http://github.com/andrewlngdn"><div>github </div></a>
          <a class="link right" href="https://soundclound.com/ender"><div>soundcloud</div></a>
        </div>

      </div>
  </div>
</div>

<script>
    staticPages.init();
</script>


